@font-face {
  font-family: Salome;
  src: url(src/Salome.otf);
}
@font-face {
  font-family: Salome Deco;
  src: url(src/Salome_Deco.otf);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  background: white;
  background: radial-gradient(circle, white 20%, #ebebeb);
  background-size: cover;
}

main {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

#momType {
  display: none;
  list-style: none;
  font-family: 'Muli';
  color: #fff;
  margin-top: 8px;
  position: absolute;
  z-index: 10;
  padding: 5px 0 0 0;
}
#momType li {
  background: #B975A1;
  display: block;
  width: 190px;
  height: 32px;
  padding-top: 7px;
  letter-spacing: 0.25px;
  margin: 0 auto 3px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
#momType li:hover {
  background: #5F3260;
  cursor: pointer;
}

.go {
  margin-left: 10px;
  text-decoration: none;
  background: #51B57F;
  padding: 6px 10px;
  color: #fff;
  font-family: 'Muli';
  font-weight: 400;
}

.new {
  position: relative;
  top: 30px;
  display: none;
  width: 120px;
}

#recipeImg {
  height: 260px;
  position: relative;
  left: -25%;
}

.dropdown {
  position: relative;
  display: inline-block;
  top: -20px;
  width: 190px;
  height: 31.5px;
  z-index: 10;
  background: #51B57F;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 9px 0 9px;
  border-color: #F5F5F5 transparent transparent transparent;
  float: right;
  position: relative;
  top: 11px;
  right: 10px;
}
.dropdown .triangleUp {
  border-width: 0 9px 10px 9px !important;
  border-color: transparent transparent whitesmoke transparent !important;
}

.flower {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  text-align: center;
}
.flower img {
  width: 100%;
  opacity: 0.8;
  position: relative;
  left: -10px;
  bottom: -10px;
}
.flower p {
  position: fixed;
  bottom: 30px;
  left: 55px;
  z-index: 2;
  text-transform: uppercase;
  font-size: 17px;
  width: 160px;
  line-height: 22px;
  letter-spacing: 1px;
  font-family: 'Muli';
}

h1 {
  font-size: 6rem;
  line-height: 4rem;
  font-family: 'Salome Deco', cursive;
  text-transform: uppercase;
  color: #51B57F;
  margin-bottom: 0;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.1px #333;
}
h1 span {
  font-size: 30px;
  display: block;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #333;
}

h2 {
  color: #fff;
  display: inline;
  font-family: 'Muli';
  padding-right: 20px;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 18px;
  position: relative;
  top: 5px;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 20px;
}

.theMoms {
  height: 50px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 400px;
  left: 20px;
}
.theMoms div {
  display: none;
  position: absolute;
  top: -20px;
}
.theMoms div p {
  font-family: 'Muli';
  width: 615px;
  margin: -15px auto 0;
}

#clock {
  font-family: 'Salome Deco', cursive;
  font-size: 65px;
  color: #222;
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-transform: uppercase;
  z-index: 1;
  letter-spacing: -1px;
  -webkit-text-stroke: 2px black;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  height: 230px;
  width: 230px;
  padding-top: 30px;
}

.recipe {
  position: relative;
  z-index: 4;
  margin-top: 15px;
}
.recipe div:first-child {
  width: 300px;
  height: 380px;
  margin: 0 auto;
  background: #333;
  text-align: left;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.recipe div:first-child p:nth-child(2) {
  position: relative;
  top: -15px;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'Muli';
  color: #FFF;
  letter-spacing: 0.25px;
  font-weight: 300;
  font-size: 20px;
}
.recipe div:first-child p:nth-child(3) {
  position: relative;
  top: -60px;
  padding: 0 10px;
  font-family: 'Muli';
  font-size: 13px;
  line-height: 18px;
  color: #f5f5f5;
}
.recipe div:first-child a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-family: 'Muli';
  font-weight: 400;
  text-decoration: none;
  background: #B975A1;
  padding: 6px 10px;
  transition: 0.5s all;
  -wekbit-transition: 0.5s all;
}
.recipe div:first-child a:hover {
  background: #5F3260;
}
.recipe div:last-child {
  font-family: 'Muli';
  padding: 30px;
  display: inline-block;
  width: 300px;
  height: 380px;
  background: #FFF;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 15px 40px -20px rgba(204, 204, 204, 0.95);
  -moz-box-shadow: 0px 15px 40px -20px rgba(204, 204, 204, 0.95);
  box-shadow: 0px 15px 40px -20px rgba(204, 204, 204, 0.95);
  margin-left: 10px;
}
.recipe div:last-child span {
  font-family: 'Abril Fatface';
  font-size: 30px;
}
