* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  height: 100%;
  background: #b4cfd5;
  /* Old browsers */
  background: radial-gradient(circle, white 20%, #b4cfd5);
  background-size: cover;
}

main {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
main h1 {
  font-family: 'Montserrat';
  color: rgba(14, 43, 58, 0.9);
  font-size: 100px;
  letter-spacing: 4px;
  line-height: 0px;
  margin-top: 100px;
}
main h2 {
  font-family: 'Muli';
  font-size: 20px;
  letter-spacing: 2.5px;
  color: rgba(14, 43, 58, 0.8);
  margin-bottom: 60px;
}
main h3 {
  margin: 18px 0;
  font-family: 'Muli';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: rgba(14, 43, 58, 0.6);
}
main h3:first-of-type {
  margin-top: -50px;
  font-size: 16px;
  letter-spacing: 1px;
}
main h3:first-of-type a {
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat';
  transition: all 1s;
  -webkit-transition: all 1s;
}
main h3:first-of-type a:hover {
  color: #8E5770;
}
main h4 {
  font-family: 'Muli';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: rgba(14, 43, 58, 0.7);
  text-align: left;
  position: relative;
  transition: all 1s;
  -webkit-transition: all 1s;
}
main h4:first-of-type {
  left: -300px;
  opacity: 0;
}
main h4:last-of-type {
  left: 180px;
  top: -10px;
  opacity: 0;
}
main h4 span {
  display: block;
}
main h4 a {
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat';
  transition: all 1s;
  -webkit-transition: all 1s;
}
main section img {
  position: relative;
  z-index: 100;
}
main section img:hover {
  cursor: pointer;
}
main section img:first-of-type {
  width: 30%;
  left: 50px;
}
main section img:last-of-type {
  width: 26%;
  left: -50px;
  top: 40px;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@-webkit-keyframes hvr-bob2 {
  0% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
}
@keyframes hvr-bob2 {
  0% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
}
@-webkit-keyframes hvr-bob-float2 {
  100% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
}
@keyframes hvr-bob-float2 {
  100% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .6s, 1.75s;
  animation-duration: .6s, 1.75s;
  -webkit-animation-delay: 0s, .8s;
  animation-delay: 0s, .8s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.hvr-bob2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-bob-float2, hvr-bob2;
  animation-name: hvr-bob-float2, hvr-bob2;
  -webkit-animation-duration: .9s, 1.5s;
  animation-duration: .9s, 1.5s;
  -webkit-animation-delay: 0s, 0.8s;
  animation-delay: 0s, 0.8s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.names {
  position: relative;
  top: -100px;
  margin: 0 auto;
  width: 0;
}

.credits {
  line-height: 13px;
  font-family: 'Muli';
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: lowercase;
  position: fixed;
  bottom: 0px;
  right: 10px;
  color: rgba(14, 43, 58, 0.6);
}
.credits a {
  color: #000;
  font-weight: 300;
  text-decoration: none;
}
.credits a:hover {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.credits span {
  display: block;
  font-size: 10px;
  letter-spacing: 0;
}

#cheat {
  display: none;
  position: absolute;
  top: 22%;
  left: 31%;
}